body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 0.5s ease;
}
#header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
}
#header-container #header {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
#header-container #header #buttons-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-container #header #buttons-container #buttons {
  margin: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-container #header #buttons-container #buttons .button {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  margin: 6px;
  user-select: none;
  cursor: pointer;
  display: none;
}
#header-container #header #buttons-container #buttons .button:active {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.65);
}
#content-container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}
#content-container #content {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  overflow: scroll;
}
#content-container #content #editor-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  transition: width 0.5s ease;
  z-index: 1;
}
#content-container #content #editor-container #editor {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
#content-container #content #editor-container #editor .next-instruction {
  position: absolute;
  background-color: rgba(255, 255, 128, 0.75);
}
#content-container #content #editor-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  z-index: 2;
}
#content-container #content #editor-overlay-container #editor-overlay {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
}
#content-container #content #memory-container {
  position: absolute;
  top: 0;
  left: 40%;
  bottom: 0;
  width: 40%;
  z-index: 0;
}
#content-container #content #memory-container #memory {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: white;
}
#content-container #content #memory-container #memory .label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
}
#content-container #content #registers-container {
  position: absolute;
  top: 0;
  left: 80%;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#content-container #content #registers-container #registers {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: white;
}
#content-container #content #registers-container #registers::-webkit-scrollbar {
  display: none;
}
#content-container #content #registers-container #registers .label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
}
#content-container #content #registers-container #registers .table {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 12px 12px;
}
#content-container #content #registers-container #registers .table .row {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#content-container #content #registers-container #registers .table .row:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#content-container #content #registers-container #registers .table .row .row-item {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}
#content-container #content #registers-container #registers .table .row .row-item.name {
  width: 50%;
  justify-content: flex-start;
  overflow: visible;
}
#content-container #content #registers-container #registers .table .row .row-item.number {
  width: 0;
  justify-content: center;
}
#content-container #content #registers-container #registers .table .row .row-item.value {
  width: 50%;
  justify-content: flex-end;
  overflow: hidden;
}
#content-container #content #registers-container #registers .table .cols-names {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
#content-container #content #registers-container #registers .table .cols-names .col-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
#content-container #content #registers-container #registers .table .cols-names .col-name.name {
  width: 50%;
}
#content-container #content #registers-container #registers .table .cols-names .col-name.number {
  width: 0;
}
#content-container #content #registers-container #registers .table .cols-names .col-name.value {
  width: 50%;
}
