@box-shadow-dark: 0 0 8px rgba(0, 0, 0, 0.1);
@space: 6px;
@pc-color: rgb(50, 173, 230);
@gp-color: rgb(192, 192, 192);
@sp-color: rgb(192, 192, 192);

body {
  margin: 0;
  opacity: 0;
  font-family: "Prompt", sans-serif;
  transition: opacity 0.5s;
}

@header-height: 64px;
#header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @header-height - 1;
  #header {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .buttons-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

@editor-width: 80%;
#editor-container {
  position: absolute;
  top: @header-height;
  left: 0;
  bottom: 0;
  width: @editor-width;
  transition: width 0.5s;
  z-index: 1;
  #editor {
    position: absolute;
    top: @space*2;
    left: @space*2;
    right: @space;
    bottom: @space*2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .next-instruction {
      position: absolute;
      background-color: rgba(@pc-color, 0.125);
    }
    .breakpoint {
      background-color: rgba(@pc-color, 0.5);
    }
  }
}

#editor-overlay-container {
  position: absolute;
  top: @header-height;
  left: 0;
  bottom: 0;
  width: calc(@editor-width/2);
  z-index: 2;
  #editor-overlay {
    position: absolute;
    top: @space*2;
    left: @space*2;
    right: @space;
    bottom: @space*2;
  }
}

#registers-container {
  position: absolute;
  top: @header-height;
  left: @editor-width;
  bottom: 0;
  right: 0;
  z-index: 0;
  #registers {
    position: absolute;
    top: @space*2;
    left: @space;
    right: @space*2;
    bottom: @space*2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .table-container {
      position: absolute;
      top: @title-height;
      bottom: 0;
      left: 0;
      right: 0;
      .table {
        top: 0;
        .row {
          height: calc(100% / 35);
          .col {
            width: calc(100% / 2);
            display: flex;
            align-items: center;
            &.name {
              justify-content: flex-start;
            }
            &.value {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

#memory-container {
  position: absolute;
  top: @header-height;
  left: calc(@editor-width/2);
  bottom: 0;
  width: 40%;
  z-index: 0;
  #memory {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: absolute;
    top: @space*2;
    left: @space;
    right: @space;
    bottom: @space*2;
    .table-container {
      position: absolute;
      top: @title-height;
      bottom: 0;
      left: 0;
      right: 0;
      .table {
        top: 0;
        .row {
          line-height: 32px;
          .col {
            width: calc(100% / 4);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &.memory-area {
              opacity: 0.5;
            }
            &.registers {
              flex-wrap: wrap;
              .register {
                padding: 0 @space;
                margin-right: @space;
                margin-bottom: @space;
                margin-top: @space;
                height: @table-row-height;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                &.pc {
                  background-color: rgba(@pc-color, 0.5);
                }
                &.gp {
                  background-color: rgba(@gp-color, 0.5);
                }
                &.sp {
                  background-color: rgba(@sp-color, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }
}

.buttons {
  position: absolute;
  top: @space;
  left: @space;
  right: @space;
  bottom: @space;
  .button {
    padding: @space @space*2;
    margin: @space;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    user-select: none;
    cursor: pointer;
    display: none;
    &:active {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

@title-height: 32px;
@title-font-size: 16px;
.title {
  width: 100%;
  height: @title-height;
  padding-left: @space*2;
  box-sizing: border-box;
  font-size: @title-font-size;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@table-row-height: 20px;
@table-font-size: 14px;
.table {
  position: absolute;
  top: @space*2;
  left: @space*2;
  right: @space*2;
  bottom: @space*2;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  font-size: @table-font-size;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
  .row {
    width: 100%;
    min-height: @table-row-height;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .col {
      padding: 0 @space;
    }
    &:first-child {
      border-top: none;
    }
  }
}